
body { 
  margin:0; 
  padding:0;
  /*height:100vh;  This is needed to overcome a Chrome bug. */
  width:100vw;
}
#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}
#tweetList {
  overflow-y: auto;
  height:90vh;
  left: 8px;
}
@media (max-width: 768px) {
  #tweetList {
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #mapCol {
    height: 40%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
